.chat__message-container {
  max-width: 402px;
  padding: 11px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;

  &_current-user{
    align-self: end;
    background-color: #E4EDFD;
    border-radius: 10px 10px 0 10px;
    flex-direction: row;
  }
}

.chat__message {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  color: #1E1E1E;

  &_checked{
    padding-right: 15px;
  }
}

.chat__message-time {
  color: #999999;
  font-size: 9px;
  line-height: 9px;
  text-align: right;
  padding: 0;
  margin: 0;
  align-self: end;

  &_checked {
    color: #3369F3;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: -10px;
      top: 4px;
      width: 10px;
      height: 4px;
      background-image: url(../../static/images/messages_message_current-user-checked.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
