$action-element__background-color: #3369F3;
$action-element__background-color_hover: #3365cc;

$input__background-color: #EFEFEF;

$text__color: #1E1E1E;
$text__color-gray: #999999;
$text__color-gray_hover: hsla(0, 0%, 61.6%, .8);
$text__color-white: #FFFFFF;
$text__color-error: #FF2F2F;

$border__color: #EAEAEA;
$border__color-black: rgba(0, 0, 0, 0.14);

$modal__background-color: #FFFFFF;

$background: #E4EDFD;
$background-white: #FFFFFF;
$background__hover:  #e4edfd;
$background__modal: #000000;

