extends ../components/header/header
block variables
  - const pageTitle = "Авторизация"
  - const style = "../styles/authorization.scss"
  - const formLinkText = "Нет аккаунта?"
  - const linkTo = "./registration.pug"
block content
  include ../components/main/main
    include ../components/authorization/authorization
