extends ../components/header/header
block variables
  - const pageTitle = "Ошибка сервера - 500"
  - const style = "../styles/error.scss"
block content
  include ../components/main/main
    script(type="module" src="../../src/components/Errors/Error500/index.ts")
