extends ../components/header/header
block variables
  - const pageTitle = "Регистрация"
  - const style = "../styles/registration.scss"
block content
  include ../components/main/main
    script(type="module" src="../../src/components/Registration/index.ts")

