extends ../components/header/header
block variables
  - const pageTitle = "Авторизация"
  - const style = "../styles/registration.scss"
  - const formLinkText = "Войти"
  - const linkTo = "./authorization.pug"
block content
  include ../components/main/main
    include ../components/registration/registration
