extends ../components/header/header
block variables
  - const pageTitle = "Профиль"
  - const style = "../styles/settings.scss"
block content
  include ../components/main/main
    script(type="module" src="../../src/components/Settings/Settings/index.ts")
