extends ../layouts/header/header
block variables
  - const pageTitle = "Авторизация"
  - const style = "../styles/authorization.scss"
  - const formLinkText = "Нет аккаунта?"
  - const linkTo = "./registration.pug"
block content
  include ../layouts/main/main
    include ../layouts/authorization/authorization
