extends ../layouts/header/header
block variables
  - const pageTitle = "Messenger"
  - const style = "../styles/main.scss"
block content
  h1 Hello Parcel!
  //script(type="module" src='../../src/index.js')
  //  include ./templates/chat/chat-container
  //script(src="../index.js")
