extends ../layouts/header/header
block variables
  - const pageTitle = "Ошибка сервера - 500"
  - const errorTitleMesage = "500"
  - const errorSubtitleMessage = "Мы уже фиксим"
  - const errorLinkText = "Назад к чатам"
  - const linkTo = "./index.pug"
  - const style = "../styles/error.scss"
block content
  include ../layouts/main/main
    include ../layouts/error/error
