extends ../layouts/header/header
block variables
  - const pageTitle = "Авторизация"
  - const style = "../styles/registration.scss"
  - const formLinkText = "Войти"
  - const linkTo = "./authorization.pug"
block content
  include ../layouts/main/main
    include ../layouts/registration/registration
