@import "../../../styles/variables";

.chat__message-container {
  max-width: 402px;
  padding: 11px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  word-break: break-all;
  margin-bottom: 10px;

  &_current-user {
    align-self: end;
    background-color: $background;
    border-radius: 10px 10px 0 10px;
    flex-direction: row;
  }
  &_type-nomessage{
    align-items: center;
    width: 100%;
    justify-content: center;
    max-width: 100%;
    height: 100%;
  }
}

.chat__message {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  color: $text__color;

  &_checked {
    padding-right: 15px;
  }
  &_type-nomessage{
    font-size: 16px;
  }
}

.chat__message-time {
  color: $text__color-gray;
  font-size: 9px;
  line-height: 9px;
  text-align: right;
  padding: 0;
  margin: 0;
  align-self: end;
  width: 50px;

  &_checked {
    color: $action-element__background-color;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: -10px;
      top: 4px;
      width: 10px;
      height: 4px;
      background-image: url(../../static/images/messages_message_current-user-checked.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
